.custom-modal {
    padding: 0;
    .modal-dialog {
        height: 100vh;
        width: 100vw;
        max-height: 100vh;
        margin: 0;
    }

    .modal-content {
        height: 100vh;
        width: 100vw;
        background: #000;
        display: flex;
        justify-content: center; 
    }

    .close-button {
        color: #fff;
        position: absolute;
        top: 0;
        font-size: 18px;
        right: 5px;
        cursor: pointer;
        padding: 5px;
        z-index: 9999;
    }
}