.detail-container {
    ul {
        padding-left: 15px;
    }
  .right-column {
      @include center;
  }

  .detail-page-img{
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .detail-page-button {
      max-width: 300px;
  }
}