/* FONTS */
$main-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$second-fonts: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

/* COLORS */
$default-bg-color: #fff;

/* SIZES */
$container-width: 1500px;