.carousel {
    max-width: $container-width;
    display: flex;
    margin: auto;

    .carouselItem {
        @include center;
      }
      
    .card {
      height: 100%;
      .card-img-top {
        height: 372px;
      }

      .card-body {
        display: flex;
        flex-direction: column;

        .card-button {
          margin-top: auto;
        }
      }
    }

  }

 